
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@UserName</h5>
        <p class="card-text">@JobTitle</p>
        <a href="#" class="btn btn-primary">Go Details</a>
    </div>
</div>


@code {

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string JobTitle { get; set; }

}
